.login {
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url("C:/pry/login.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .form-card {
        background-color: white;
        display: flex;
        width: 850px;
        height: 450px;
        border-radius: 12px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

        .left-section {
            background-color: #ff9c08;
            width: 55%;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;

            .login-logo {
                width: 100%;
                height: auto;
                max-height: 350px;
            }
        }

        .right-section {
            width: 45%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .form-title {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .input-group {
                margin-bottom: 20px;

                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 16px;
                }
            }

            .password-group {
                position: relative;

                .eye-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: #3498db;
                }
            }

            .error-message {
                color: red;
                margin-top: 10px;
            }

            .login-button {
                width: 100%;
                padding: 10px;
                background-color: #ff9c08;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
            }

            .signup-link {
                margin-top: 20px;
                font-size: 14px;

                a {
                    text-decoration: none; /* Removes underline from the link */
                    color: #3498db; /* You can also adjust the color */
                }

                a:hover {
                    text-decoration: underline; /* Optional: adds underline on hover for better UX */
                }
            }
        }
    }
}
